@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ImgTxtBlock>>
@{
    var Persent = Model.Content.SizeFoto * 0.015;
    var Em1 = (double)Model.Content.SizeFoto / 5;
    string Em2 = Em1.ToString();
    string Em = Em2.Replace(",", ".");
    var divClass = Model.Content.Class;
}

<div id="@Model.Content.IdAction" class="@(Model.Content.GorizontalImgAlign == "По левому краю" ? "Align-left" : null)@(Model.Content.GorizontalImgAlign == "По правому краю" ? "Align-right" : null) @divClass  @(Model.Content.GorizontalImgAlign == "По центру" ? "Align-center" : null) img-txt style="gap: @(Model.Content.EdFoto == "%" ? @Persent : @Em)em;">

    <div class="card-media" style="width: @Model.Content.SizeFoto@Model.Content.EdFoto; min-width: @Model.Content.SizeFoto@Model.Content.EdFoto; height: auto!important;">
        @{
            var image = Model.Content.Image;
            if (image is not null)
            {
                <img src="@image.Url()"/>
            }
            else
            {
                <p>Missing image</p>
            }
        }
    </div>
    <div class="card-content">
        <div>@Model.Content.RichText</div>
    </div>

</div>
