@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ImageBlock>>
@{
   
    var image = Model.Content.Image;
    var image1024 = Model.Content.Img1024;
    var image650 = Model.Content.Img650;
    var image320 = Model.Content.Img320;
    var size = Model.Content.SizeImg;
    var transform = Model.Content.Transform;
    var crop = Model.Content.Crop;
	var gorizontal = Model.Content.GorizontalAlign;
    var divClass = Model.Content.Class;
    var divLoad = Model.Content.Load;
    
    @if (image is not null)
    {
       @if (size is not 0)
       {
      <picture class=" @divClass @(crop == "Авто" ? "im-auto" : null)@(crop == "16:9" ? "im-16-on-9" : null)@(crop == "4:3" ? "im-4-on-3" : null)@(crop == "5:6" ? "im-5-on-6" : null)@(crop == "2:2" ? "im-2-on-2" : null) @(gorizontal == "По левому краю" ? " left" : null)@(gorizontal == "По правому краю" ? " right" : null)@(gorizontal == "По центру" ? " center" : null)" style="width: @Model.Content.SizeImg@Model.Content.EdImg; min-width: @Model.Content.SizeImg@Model.Content.EdImg; height: auto!important;">
        @if (@image320 is not null){
        <source srcset="@image320.Url()" media="(max-width: 320px)" loading="@Model.Content.Load;">
        }
        @if (@image650 is not null){
        <source srcset="@image650.Url()" media="(max-width: 650px)" loading="@Model.Content.Load;">
        }
        @if (@image1024 is not null){
        <source srcset="@image1024.Url()" media="(max-width: 1024px)" loading="@Model.Content.Load;">
        }
        <img class="image @Model.Content.Transform" src="@image.Url()" loading="@Model.Content.Load;"/>
      </picture>
      }
      else
      {
      <picture class=" @divClass @(crop == "Авто" ? "im-auto" : null)@(crop == "16:9" ? "im-16-on-9" : null)@(crop == "4:3" ? "im-4-on-3" : null)@(crop == "5:6" ? "im-5-on-6" : null)@(crop == "2:2" ? "im-2-on-2" : null)">
        @if (@image320 is not null){
            <source srcset="@image320.Url()" media="(max-width: 320px)" loading="@Model.Content.Load;">
            }
            @if (@image650 is not null){
            <source srcset="@image650.Url()" media="(max-width: 650px)" loading="@Model.Content.Load;">
            }
            @if (@image1024 is not null){
            <source srcset="@image1024.Url()" media="(max-width: 1024px)" loading="@Model.Content.Load;">
            }
            <img class="image @Model.Content.Transform" src="@image.Url()"  loading="@Model.Content.Load;"/>
      </picture>
      }
    }
    else
    {
        <p>Missing image</p>
    }
    
}
